.newMessage{
    display: flex;
}

.input{
    width: 90%;
}

.input textarea{
    width: 100%;
    height: 30px;
    resize: none;
}

.button{
    width: 10%;
}

.button button{
    background-color: #262934;
    color: white;
    border: 0;
    height: 36px;
}