body{
  background-color: #262934;

  font-family: 'Istok Web', sans-serif;
  font-family: 'Vollkorn', serif;
}

.app-wrapper{
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 2fr 10fr;
  /*rid-gap: 10px;*/

  margin: auto;

  width: 80vw;
}